.Landing-Banner{
    display: flex;
    width: 100%;
    height: 90vh;
    .Box-Left{
        width: 45%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .Box-Left-Top {
            background-color: #91c8f5;
        }
        .Box-Left-Bottom{
            background-color: #91c8f5;
            z-index: 10;
        }
    }
    .Box-Right{
        width: 55%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        .Box-Right-Top {
            background-color: #ffffff;
        }
        .Box-Right-Bottom{
            background-color: #ffffff;
            z-index: 10;
        }
    }
    .Landing-Title{
        color: black;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h1,h2{
            color: black;
        }
        h1{
            font-size: 70px;
        }
        h2{
            flex-basis: 100%;
            font-size: 35px;
            text-align: center;
        }
    }
}