.Landing-Banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90vh;
}

.Landing-Banner .Box-Left {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Landing-Banner .Box-Left .Box-Left-Top {
  background-color: #91c8f5;
}

.Landing-Banner .Box-Left .Box-Left-Bottom {
  background-color: #91c8f5;
  z-index: 10;
}

.Landing-Banner .Box-Right {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Landing-Banner .Box-Right .Box-Right-Top {
  background-color: #ffffff;
}

.Landing-Banner .Box-Right .Box-Right-Bottom {
  background-color: #ffffff;
  z-index: 10;
}

.Landing-Banner .Landing-Title {
  color: black;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Landing-Banner .Landing-Title h1, .Landing-Banner .Landing-Title h2 {
  color: black;
}

.Landing-Banner .Landing-Title h1 {
  font-size: 70px;
}

.Landing-Banner .Landing-Title h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 35px;
  text-align: center;
}

.Client-Container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fcfcfc;
  margin: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  -webkit-animation: bgFade 3.5s 1;
          animation: bgFade 3.5s 1;
}

.Client-Container figure {
  margin: 0%;
}

.Client-Container .Container-Tag {
  position: absolute;
  right: 0px;
  background-color: #91c8f5;
  -webkit-box-shadow: 3px 3px lightgray;
          box-shadow: 3px 3px lightgray;
  width: 200px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.Client-Container .Container-Tag h1 {
  margin: 0%;
  margin-right: 10px;
  color: black;
}

.Client-Container .Clients-Logos {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Client-Container .Clients-Logos .Client {
  -webkit-animation: logoFadeIn 4s 1;
          animation: logoFadeIn 4s 1;
  opacity: 1;
}

.Client-Container .Clients-Logos .Client figure {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Client-Container .Clients-Logos .Client figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media only screen and (max-width: 400px) {
  .Client-Container {
    height: 100%;
  }
  .Client-Container .Clients-Logos {
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@-webkit-keyframes logoFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bgFade {
  0% {
    background: black;
  }
  50% {
    background: black;
  }
  100% {
    background: white;
    opacity: 1;
  }
}

@keyframes bgFade {
  0% {
    background: black;
  }
  50% {
    background: black;
  }
  100% {
    background: white;
    opacity: 1;
  }
}

.Education-Container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}

.Education-Container .Section-Title-Container {
  position: absolute;
  left: 0px;
  background-color: #91c8f5;
  -webkit-box-shadow: 3px 3px lightgray;
          box-shadow: 3px 3px lightgray;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.Education-Container .Section-Title-Container .Section-Title {
  color: black;
  margin-left: 10px;
}

.Education-Container .Education-Card-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-top: 100px;
}

.Education-Container .Education-Card-Container .Education-Card {
  width: 350px;
  height: 500px;
  border: 1px solid gray;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px;
  background-color: white;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  -webkit-box-shadow: 15px 15px 20px rgba(88, 88, 88, 0.534);
          box-shadow: 15px 15px 20px rgba(88, 88, 88, 0.534);
}

.Education-Container .Education-Card-Container .Education-Card .School-Link {
  text-decoration: none;
  color: black;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.Education-Container .Education-Card-Container .Education-Card .School-Link figure {
  padding-top: 15px;
  width: 100%;
  height: 60%;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  margin: 0%;
}

.Education-Container .Education-Card-Container .Education-Card .School-Link figure img {
  width: 90%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 25px;
}

.Education-Container .Education-Card-Container .Education-Card .School-Link h4, .Education-Container .Education-Card-Container .Education-Card .School-Link h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin-bottom: 0%;
}

.Education-Container .Education-Card-Container .Education-Card .School-Link h4 {
  margin-bottom: 10px;
}

.Education-Container .Education-Card-Container .School-Link:hover {
  background-color: rgba(133, 133, 133, 0.26);
}

.Experience-Container {
  min-height: 100vh;
  background-color: white;
}

.Experience-Container .Section-Title {
  position: absolute;
  right: 0px;
  background-color: #91c8f5;
  -webkit-box-shadow: 3px 3px lightgray;
          box-shadow: 3px 3px lightgray;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.Experience-Container .Section-Title .Section-Title {
  color: black;
  margin-left: 10px;
}

.App {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  overflow: hidden;
}

.App h1 {
  color: aliceblue;
  margin: 0%;
}
/*# sourceMappingURL=index.css.map */